<h1>Quant Lang Demo</h1>


<form action="/QuantLang/edit" method="POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <textarea name="my_script" cols="100" rows="15">
      <% if params.key?(:my_script) %>
        <%= params[:my_script] %>
      <% else %>
mos = [ Momentum(10), Momentum(5) ]
macds = [ MACD(12,26,9), MACD(12,26,8) ]

tech-stocks = [ GOOG, IBM ]

print tech-stocks

my_strat = tech-stocks
   |> best-return-last-year

print macds
print my_strat

      <% end %>
  </textarea>

  <input type=submit>
</form>


<% if request.post? %>

  <p>
    <%= evaluate_ql_code(params[:my_script]) %>
  </p>


<% end %>

